<%- include("partials/header") -%> <%- include("partials/navigation") -%>

<!-- section one -->
<section class="section page-divider showcase-bg" data-bg="#BFEFFF">
  <div class="showcase m-top-16">
    <div class="heading m-bottom-16 container flex">
      <h4 class="cursor-scale small-scale">Welcome to Baby Ape Boat Club</h4>
      <h1 class="cursor-scale large-scale">The ONLY BAYC</h1>
      <h1 class="cursor-scale large-scale">Bored Ape Yacht Club</h1>
      <p class="cursor-scale small-scale">
        Derivative Project with Individually Licensed Permission from the
        owners.
      </p>
      <!-- <h1 class="cursor-scale large-scale">Hundreds of unique</h1>
                <h1 class="cursor-scale large-scale">NFT’s in the world</h1> -->

      <div class="showcase__links m-top-5 flex">
        <a
          class="a-btn underline cursor-scale small-scale"
          href="https://babyapemutantclub.art/"
          >Enter our Mutantverse</a
        >
        <a
          class="a-btn underline cursor-scale small-scale"
          href="https://opensea.io/collection/baby-ape-boat-club"
          >open sea</a
        >
      </div>
    </div>

    <div class="showcase__hero">
      <div class="showcase__hero-image parallax" data-depth="-.3"></div>
    </div>
  </div>
</section>

<!-- section two -->
<section id="our-goal" class="section page-divider goals-bg" data-bg="#FEBBBB">
  <div class="goals container">
    <div class="heading m-bottom-14">
      <h1 class="uppercase cursor-scale large-scale">babc goals</h1>
    </div>

    <div class="goals__inn grid">
      <div class="goals__inner flex">
        <div class="paragraph-wrapper grid">
          <div class="goals__links flex">
            <form action="" method="" class="flex">
            
                <% goalsArticles.forEach( article => { %>
            
              <button
                class="button button-light cursor-scale blend-lighten slidePrev"
                type=""
                name=""
                value=""
              >
                <span class="button__circle"></span>
                <a
                data-btn="Community"
                href="#our-goal"
                  class=" <%= "is-active " + article.nameState + " ." %>" >
                  <%= article.name %>
                </a>
              </button>
            
              <% }) %>
            
            </form>
          </div>

          <div class="goals__paragraph">
            <ul class="paragraph">
              
                <% goalsArticles.forEach( article => { %>
              
                <li class=" <%= "paragraph__item bottom-to-top " + article.articleState + " ." %>">
                <!-- <h1 class="item__heading">Community </h1> -->
                <article class="item__content">
                  <p><%= article.article %></p>
                </article>
              </li>
              
              <% }) %>
              
            </ul>
          </div>
        </div>
      </div>

      <div class="goals__image parallax">
        <div class="swiper goals-swiper" dir="rtl">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide cursor-scale large-scale"
              data-community="Community"
            >
              <div class="slide__img__community">
                <!-- <img src="/Graphics/Images/BabyApes/015.png" alt=""> -->
              </div>
            </div>
            <div
              class="swiper-slide cursor-scale large-scale blend-difference"
              data-future="Future"
            >
              <div class="slide__img__future">
                <!-- <img src="/Graphics/Images/future.jpeg" alt=""> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<%- include("partials/footer") -%>
