<%- include("partials/header") -%> <%- include("partials/navigation") -%>

<!-- section one -->
<section class="section page-divider showcase-bg" data-bg="#BFEFFF">
  <div class="showcase m-top-16">
    <div class="heading m-bottom-16 container flex">
      <h4 class="cursor-scale small-scale">Welcome to Baby Ape Boat Club</h4>
      <h1 class="cursor-scale large-scale">The ONLY BAYC</h1>
      <h1 class="cursor-scale large-scale">Bored Ape Yacht Club</h1>
      <p class="cursor-scale small-scale">
        Derivative Project with Individually Licensed Permission from the
        owners.
      </p>
      <!-- <h1 class="cursor-scale large-scale">Hundreds of unique</h1>
                <h1 class="cursor-scale large-scale">NFT’s in the world</h1> -->

      <div class="showcase__links m-top-5 flex">
        <a
          class="a-btn underline cursor-scale small-scale"
          href="https://babyapemutantclub.art/"
          >Enter our Mutantverse</a
        >
        <a
          class="a-btn underline cursor-scale small-scale"
          href="https://opensea.io/collection/baby-ape-boat-club"
          >open sea</a
        >
      </div>
    </div>

    <div class="showcase__hero">
      <div class="showcase__hero-image parallax" data-depth="-.3"></div>
    </div>
  </div>
</section>

<!-- section two -->
<section id="our-goal" class="section page-divider goals-bg" data-bg="#FEBBBB">
  <div class="goals container">
    <div class="heading m-bottom-14">
      <h1 class="uppercase cursor-scale large-scale">babc goals</h1>
    </div>

    <div class="goals__inn grid">
      <div class="goals__inner flex">
        <div class="paragraph-wrapper grid">
          <div class="goals__links flex">
            <form action="" method="" class="flex">
              <button
                class="button button-light cursor-scale blend-lighten slidePrev"
                type=""
                name=""
                value=""
              >
                <span class="button__circle"></span>
                <a
                  class="is-active active-btn"
                  data-btn="Community"
                  href="#our-goal"
                  >Community</a
                >
              </button>
              <button
                class="button button-light cursor-scale blend-lighten slideNext"
                type=""
                name=""
                value=""
              >
                <span class="button__circle"></span>
                <a class="is-active" data-btn="Future" href="#our-goal"
                  >Future</a
                >
              </button>
            </form>
          </div>

          <div class="goals__paragraph">
            <ul class="paragraph">
              <li class="paragraph__item bottom-to-top active-paragraph">
                <!-- <h1 class="item__heading">Community </h1> -->
                <article class="item__content">
                  <p>
                    We strongly believe that no other NFT community is as close
                    and friendly as this one. It makes sense. Communities with
                    10,000+ members will never be able to be as close as
                    communities with only 333 members. Join our Discord or
                    Telegram servers and have a chat with us :)
                  </p>
                </article>
              </li>

              <li class="paragraph__item bottom-to-top">
                <!-- <h1 class="item__heading">Future </h1> -->
                <article class="item__content">
                  <p>
                    We know that the future of NFTs is not just about posting a
                    new profile pictures on Twitter. We are familiar with
                    metaverse, virtual realities and much more. Year 2022 is
                    going to get our collection to a whole different level.
                    Connecting Metaverse and NFTs with children education is on
                    our list as well as NFT staking and other rewards!
                  </p>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="goals__image parallax">
        <div class="swiper goals-swiper" dir="rtl">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide cursor-scale large-scale"
              data-community="Community"
            >
              <div class="slide__img__community">
                <!-- <img src="/Graphics/Images/BabyApes/015.png" alt=""> -->
              </div>
            </div>
            <div
              class="swiper-slide cursor-scale large-scale blend-difference"
              data-future="Future"
            >
              <div class="slide__img__future">
                <!-- <img src="/Graphics/Images/future.jpeg" alt=""> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section three -->
<section id="charity" class="section page-divider charity-bg" data-bg="#BBFEFE">
  <div class="charity">
    <div class="heading m-bottom-14 container flex">
      <!-- <h4 class="cursor-scale small-scale">1 Million Dollar</h4> -->
      <h1 class="cursor-scale large-scale">Children charity</h1>
      <h1 class="cursor-scale large-scale">donation</h1>
    </div>

    <div class="charity__img container">
      <img src="Graphics/Images/charity-img.png" alt="" class="charity-img" />
    </div>

    <div class="charity__details grid container m-top-16">
      <div class="charity__details-about">
        <p>Target amount: 1,000,000$</p>
        <p>Donation date: <span class="date">17th of December 2022 </span></p>
        <p>Type: OpenSea auctions</p>
      </div>
      <div class="charity__details-paragrapgh">
        <p class="leading-paragrapgh">
          We have released 10 special and limited NFTs. These ten Baby Apes were
          created for one simple but very important purpose - to help thousands
          of children around the world. Only ten hero Baby Ape NFTs will be ever
          created. Bid on one or more of them to insure that less fortunate
          children have wonderful Christmas.
        </p>
        <a class="a-btn underline cursor-scale small-scale" href="charity.html"
          >Charity details</a
        >
      </div>
    </div>
  </div>
</section>

<!-- section four -->
<section id="NFTs" class="section page-divider rarity-bg" data-bg="#FFEE9F">
    <div class="NFTs">
        <div class="NFTs-heading heading m-bottom-14 container flex">
            <!-- <h4 class="cursor-scale small-scale">Created by Skurvydogg.</h4> -->
            <h1 class="cursor-scale large-scale">Only 333 unique</h1>
            <h1 class="cursor-scale large-scale">NFTS Created by Skurvydogg</h1>
        </div>


        <div class="NFTs__thumbnail">
            <%thumbnails.forEach(thumbnail => { %>
                <img class="skewElem"
                alt=""
                src=" <%= "Graphics/Images/BabyApes/" + thumbnail.apeNumber + ".png" %> ">
            <% }) %>
        </div>

        <div class="NFTs__link container flex m-top-10">

            <a class="a-btn underline cursor-scale small-scale" href="rarity.html">BABC Rarity Wall</a>
        </div>
</section>


    <!-- section five -->
    <!-- road map and events -->
    <section id="section-roadmap" class="section page-divider roadmap-bg" data-bg="#BFFFBE">
      <div class="roadmap__wrapper">

          <!-- Roadmap 2.0 -->
          <div class="heading m-bottom-14 container flex">
              <!-- <h4 class="cursor-scale small-scale">ROADMAP 2.0</h4> -->
              <h1 class="cursor-scale large-scale">ROADMAP 2.0:</h1>
          </div>

          <div class="roadmap__roadmap2point0 container">
              <div class="swiper-slider">
                  <div class="swiper roadmap2point0-swiper">
                      <div class="swiper-wrapper m-bottom-10">

                        <% roadmap.forEach( map => { %>
                          <div class="swiper-slide">
                              <div class="card3">
                                  <div class="card3__headings">
                                      <h2> <%= map.date %></h2>
                                      <h3> <%= map.heading %></h3>
                                  </div>

                                  <hr class="card3__line">

                                  <div class="card3__details">
                                      <p> <%= map.content %></p>
                                  </div>
                              </div>
                          </div>
                        <% }); %>

                          <!-- swiper-wrapper closing -->
                      </div>
                      <!-- swiper closing -->
                      <!-- If we need pagination -->
                      <div class="swiper-pagination"></div>

                      <!-- If we need navigation buttons -->
                      <!-- <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div> -->
                  </div>
              </div>
          </div>
          <!-- after merch 2.0 -->
          <!-- was here -->
      </div>
  </section>
  
  <!-- section six -->
    <!-- team & staff members -->
    <section id="team-members" class="section page-divider team-bg" data-bg="#fdfec1">
      <div class="team container">
          <div class="team__heading heading m-bottom-14 flex">
              <h4 class="cursor-scale small-scale">Meet our team</h4>
              <h1 class="cursor-scale large-scale">Team members</h1>
          </div>
      </div>
      <!-- use swiper here -->


      <div class="swiper-slider">
          <!-- Swiper -->
          <div class="swiper member-swiper">
              <div class="swiper-wrapper m-bottom-10">
                
                <% team.forEach( member => { %>
                  <div class="swiper-slide">
                      <div class="members__cards flex">
                          <div class=" <%= "members__cards-img " + member.image + " ." %> ">
                            
                          </div>
                          <h4 class="uppercase"> <%= member.post %> </h4>
                          <p><%= member.name %> </p>
                          <div>
                              <a class="cursor-scale small-scale" href=" <%= "https://" + member.web + "/" %>">
                                  <span class="member-icon"><img src="Graphics/Icons/web-icon.png" alt=""></span>
                              </a>
                              <a class="cursor-scale small-scale" href=" <%= "" + member.insta + "" %>">
                                  <span class="member-icon"><img src="Graphics/Icons/instagram-icon-black.png"
                                          alt=""></span>
                              </a>
                              <a class="cursor-scale small-scale" href=" <%= "https://" +member.twitter+ "/" %>">
                                  <span><img class="" src="Graphics/Icons/twitter-icon.png" alt=""></span>
                              </a>
                          </div>
                      </div>
                  </div>
                  <% }); %>

              </div>
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>

              <!-- If we need navigation buttons -->
              <!-- <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div> -->
          </div>
      </div>


      <div class="container flex">
          <div class="join-team m-top-6">
              <button class="button button-light cursor-scale blend-lighten" type="" name="" value="">
                  <span class="button__circle"></span>
                  <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSdPFhy1bMdQk1DYVT2xN5IyyjLNhOuJ5Iae9IjcEYHmBWDRCw/viewform?usp=send_form">Join
                      the team</a>
              </button>
          </div>
      </div>

  </section>
  
  <!-- section Seven FAQ -->
    <!-- frequently asked questions -->
    <section id="faq" class=" page-divider black">
      <div class="faq container">
          <div class="faq-heading heading flex">
              <h1 class="cursor-scale large-scale">FAQ</h1>
              <div class="footer__icons flex">
                  <a href="https://discord.com/invite/nEdvxAbP7u" class="cursor-scale small-scale">
                      <img src="Graphics/Icons/discord-icon-white.png" alt="">
                  </a>
                  <a href="https://twitter.com/BabyApeBoatClub" class="cursor-scale small-scale">
                      <img src="Graphics/Icons/twitter-icon-white.png" alt="">
                  </a>
                  <a href="https://www.instagram.com/babyapeboatclub" class="cursor-scale small-scale">
                      <img src="Graphics/Icons/instagram-icon-white.png" alt="">
                  </a>
              </div>
          </div>
          <div class="faq__faqs-wrapper">
            
            <% faqs.forEach( faq => { %>
              <div class="faq__faqs-qa">
                <h3 class="q"> <%= faq.question %></h3>
                <p class="a  appear-on-click"> <%= faq.answer %> </p>
            </div>
            <% }); %>
              

          </div>
      </div>
  </section>

  <!-- popup -->
  <div class="popup" id="popup">
      <div class="popup__content flex">
          <a class="popup__close cursor-scale small-scale" onclick="history.back()">&times;</a>
              
          <h1 class="m-bottom-5">Scan QR</h1>
          <img src="/Graphics/Images/babyapp code.png" alt="">
      </div>
  </div>

<!-- footer -->
<%- include("partials/footer") -%>
